<!doctype html>
<html ng-app="pouchDemo">

<head>
  <title>AngularJS, PouchDB & CouchDB Demo</title>
</head>

<body ng-controller="pouchCtrl as pouch">

  <input ng-model="pouch.user._id" ng-model-options="{updateOn: 'blur'}" placeholder="Username" />

  <label ng-repeat="option in pouch.user.options">
      <input type="checkbox" ng-model="option.selected" />{{option.name}}
  </label>

  <button ng-click="pouch.reset()">Reset</button>

  <script src="./../node_modules/angular/angular.js"></script>
  <script src="./../node_modules/pouchdb/dist/pouchdb.js"></script>
  <script src="./src/index.js"></script>

</body>

</html>
